<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
<nav>
    <a href="">KEA</a>
    <a href="">hyperlink</a>
    <a href="">hyperlink</a>
</nav>

<div class="margin50left">
    <h1>Create Student</h1>
    <form action="/create/addStudent" method="POST">

        <label for="firstName" >First Name:
            <input id="firstName" type="text" name="firstName">
        </label><br>

        <label for="lastName">Last Name:
            <input id="lastName" type="text" name="lastName">
        </label><br>

        <label for="enrollmentDate">Enrollment date:
            <input id="enrollmentDate" type="date" name="enrollmentDate">
        </label><br>

        <label for="cpr">CPR:
            <input  id="cpr" type="text" name="cpr">
        </label><br>

        <input type="submit" name="create" value="Create" class="btn btn-create">
        <br><br>
        <button type="reset" value="Clear all" class="btn btn-del" style="width: 100px"> Reset</button>

    </form>
</div>

</body>
</html>