@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

.tile--css_animations__demo4{


    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: flipAround 10s infinite;
    transform-origin: right;
}
@keyframes flipAround {
    25% {
        transform-origin: right;
        animation-mode: forwards;
        transform: rotateY(-40deg);
    }

    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}




.bounceInUp {
    animation-name: bounceInUp;
    animation-duration: 4s;

}


@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }

    75% {
        transform: translate3d(0, 10px, 0);
    }

    90% {
        transform: translate3d(0, -5px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}


.centerElement
{
    display: block;
    margin-left: auto;
    margin-right: auto;

}


@keyframes myfirst {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
}

#centerText {
    text-align-last: center;
    border: 2px solid black;
}

body {
    overflow: hidden;
    font-family: arial, sans-serif;
    margin:0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 0;
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.wrapper {
    width: 40%;
    margin: 40px auto;
}


div.gallery ul {
    list-style-type: none;
    margin-left: 35px;
}

/* animation */
div.gallery ul li, div.gallery li img {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

div.gallery ul li {
    position: relative;
    float: left;
    width: 13px;
    height: 130px;
    margin: 5px;
    padding: 5px;
    z-index: 0;
}

div.gallery ul li:hover {
    z-index: 10;
}

div.gallery ul li img {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;

    height: 90%;

}

div.gallery ul li img:hover {

    height: 200%;
    margin-top: -130px;
    margin-left: -130px;
    top: 65%;
    left: 65%;
}

h1 {

    font-family: 'Orbitron', sans-serif;

}

footer {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    display: block;
}