
#test{
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    animation-name: stretch;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
    pointer-events: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.element {
    height: 250px;
    width: 250px;
    margin: 0 auto;
    background-color: #ffffff;
    animation-name: stretch;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
    pointer-events: none;
}

@keyframes stretch {
    0% {
        transform: scale(.01);
        background-color: red;
        border-radius: 100%;
    }
    50% {
        background-color: orange;
    }
    100% {
        transform: scale(7);
        background-color: #ffffff;
        opacity: 0.1;
    }
}


.bounceInUp {
    animation-name: bounceInUp;
    animation-duration: 4s;

}


@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }

    75% {
        transform: translate3d(0, 10px, 0);
    }

    90% {
        transform: translate3d(0, -5px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}


.centerElement
{
    display: block;
    margin-left: auto;
    margin-right: auto;

}


@keyframes myfirst {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
}

#centerText {
    text-align-last: center;
    border: 2px solid black;
}

body {
    overflow: hidden;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

.margin50left{
    margin-left: 50px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}
/*https://www.w3schools.com/TAgs/tag_nav.asp*/
nav {
    background-color: #222;
    padding-bottom: 15px;
    padding-top: 15px;
}
nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

#logo {
    font-weight: bold;
    font-size: 1.2em;
}

.footer {
    padding-top: 20px;
    padding-right: 5px;
    text-align: right;
    color: #666666;
    font-style: italic;

}

/* table styles */
/* https://www.w3schools.com/html/html_tables.asp */

table {
    border-collapse: collapse; /*https://www.w3schools.com/CSSref/tryit.asp?filename=trycss_border-collapse3*/
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px 8px 5px 8px; /*https://www.w3schools.com/csS/css_padding.asp*/
}

tr:nth-child(even) {
    background-color: #dddddd;
}


input {
    display: block;
    width: 50%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

/* Buttons */
/* https://www.w3schools.com/css/css3_buttons.asp */

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px; /* https://www.w3schools.com/css/css3_borders.asp */
    box-shadow: 1px 1px 1px #888888;
    transition-duration: 0.1s;
}

.btn-create {
    background-color: #4CAF50;
}

/* Green */
.btn-details {
    background-color: #555555;
}

/* Black */
.btn-ed {
    background-color: #008CBA;
}

/* red */
.btn-del {
    background-color: #f44336;
}

/* Red */

.btn:hover {
    box-shadow: 2px 2px 2px #888888;
}

.w {
    width: 20%;
}

/* input fields */


