<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div id="header">
    <table id="head_cont">
        <tr>
            <td><a href="/"><img src="img/keaWhite.png"></a></td>
            <td><a class="links" href="/studentList">Students</a></td>
            <td><a class="links" href="/courses">Courses</a></td>
        </tr>
    </table>
</div>

<div class="margin50left">
    <h1>Create Course</h1>
    <form action="/courses/addCourse"method="POST">
        <label for="Name" >Name:
            <input id="Name" type="text" name="Name">
        </label><br>

        <label for="startDate">Start date:
            <input id="startDate" type="date" name="startDate">
        </label><br>

        <label for="etcs">ETCS:
            <input  id="etcs" type="number" name="etcs">
        </label><br>

        <label for="description">Description:</label><br>
            <textarea id="description" name="description" rows="5" cols="30" draggable="false"></textarea><br>

        <input type="submit" name="create" value="Create" class="btn btn-create">
        <br><br>
        <button type="reset" value="Clear all" class="btn btn-del" style="width: 100px"> Reset</button>
    </form>
</div>

</body>
</html>