<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div id="header">
    <table id="head_cont">
        <tr>
            <td><a href="/"><img src="img/keaWhite.png"></a></td>
            <td><a class="links" href="/studentList">Students</a></td>
            <td><a class="links" href="/">Courses</a></td>
        </tr>
    </table>
</div>

<div class="margin50left">
    <h1>Create Student</h1>
    <form action="/addStudent" enctype="multipart/form-data" method="POST">
        <label for="firstName" >First Name:
            <input id="firstName" type="text" name="firstName">
        </label><br>

        <label for="lastName">Last Name:
            <input id="lastName" type="text" name="lastName">
        </label><br>

        <label for="enrollmentDate">Enrollment date:
            <input id="enrollmentDate" type="date" name="enrollmentDate">
        </label><br>

        <label for="cpr">CPR:
            <input  id="cpr" type="text" name="cpr">
        </label><br>

        <label>Upload Picture
            <input id="profilePic" name="picture" accept="image/jpeg" multiple="" type="file">
        </label><br>
        <input type="submit" name="create" value="Create" class="btn btn-create">
        <br><br>
        <button type="reset" value="Clear all" class="btn btn-del" style="width: 100px"> Reset</button>

    </form>
</div>

</body>
</html>