<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<nav>
    <a href="">KEA</a>
    <a href="">hyperlink</a>
    <a href="">hyperlink</a>
</nav>

<div class="margin50left">
    <h1>Create Student</h1>
    <form action="" method="GET">

        <label for="" >First Name:
            <input type="text" name="firstName">
        </label><br>

        <label for="">Last Name:
            <input type="text" name="lastName">
        </label><br>

        <label for="">Enrollment date:
            <input type="date" name="enrollmentDate">
        </label><br>

        <label for="">CPR:
            <input type="text" name="cpr">
        </label><br>

        <input type="submit" name="create" value="Create" class="btn btn-create">
        <br><br>
        <button type="reset" value="Clear all" class="btn btn-del" style="width: 100px"> Reset</button>

    </form>
</div>

</body>
</html>