<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Student details</title>
    <link rel="stylesheet" type="text/css" href="../css/detail.css"/>
</head>
<body>
<div id="header">
    <table id="head_cont">
        <tr>
            <td><a href="/"><img src="img/keaWhite.png"></a></td>
            <td><a class="links" href="/studentList">Students</a></td>
            <td><a class="links" href="/">Courses</a></td>
        </tr>
    </table>
</div>
<div id="content">
    <p id="title">Student Information</p>
    <div id="cont">
        <table id="cont_body">
            <td class="column">
                <!-- Checks if student has profile picture, otherwise display default-->
                <th:block th:if="${student.profilePic} eq NULL"><img id="billed" src="/img/default_pic.png"></th:block>
                <th:block th:if="${student.profilePic} != NULL"> <img id="billed" th:src="${student.profilePic}"></th:block>
            </td>

            <!-- retrieves and displays student information using thymeleaf-->
            <td class="column" id="info">
                <p class="info_label">Name:</p>
                <p th:text="${student.firstName} + ' ' +${student.lastName}"></p> <br/>
                <p class="info_label">Enrollment Date:</p>
                <p th:text="${student.enrollmentDate}"></p><br/>
                <p class="info_label">CPR-nr:</p>
                <p th:text="${student.cpr}"></p><br/>
            </td>
        </table>

    </div>
    <!--Buttons redirect to either delete or edit passing the student id as a url/Query string parameter-->
    <div id="button_cont">
        <a th:href="@{/edit(id=${student.id})}"><button class="btn btn-ed">Edit</button></a>
        <a onclick="openForm()"><button class="btn btn-del">Delete</button></a>
    </div>
    <div class="login-popup">
        <div class="form-popup" id="popupForm">
            <div class="form-container">
                <h2>This Will Delete This Student Permanently</h2>
                <a th:href="@{/delete(id=${student.id})}"><button class="btn btn-del">Delete</button></a>
                <button type="button" class="btn btn-ed" onclick="closeForm()">Close</button>
            </div>
        </div>
    </div>
    </div>

        <!--Script which changes display of popUpForm class-->
        <script>
            function openForm() {
                document.getElementById("popupForm").style.display="block";
            }
            function closeForm() {
                document.getElementById("popupForm").style.display="none";
            }
        </script>

</body>
</html>