<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div id="header">
    <table id="head_cont">
        <tr>
            <td><a href="/"><img src="img/keaWhite.png"></a></td>
            <td><a class="links" href="/studentList">Students</a></td>
            <td><a class="links" href="/courses">Courses</a></td>
        </tr>
    </table>
</div>

<div class="margin50left">
    <h1>Update student</h1>
    <form action="/editStudent" enctype="multipart/form-data" method="POST">
        <label for="firstName" >First Name:
            <input id="firstName" type="text" name="firstName" th:value="${students.firstName}">
        </label><br>

        <label for="lastName">Last Name:
            <input id="lastName" type="text" name="lastName" th:value="${students.lastName}">
        </label><br>

        <label for="enrollmentDate">Enrollment date:
            <input id="enrollmentDate" type="date" name="enrollmentDate" th:value="${students.enrollmentDate}">
        </label><br>

        <label for="cpr">CPR:
            <input id="cpr" type="text" name="cpr" th:value="${students.cpr}">
        </label><br>

        <label>Upload Picture
            <input id="profilePic" name="picture" accept="image/jpeg" multiple="" type="file">
        </label><br>

        <input type="hidden" name="id" th:value="${students.id}"/>
        <input type="submit" name="edit" value="Edit" class="btn btn-ed">
    </form>
</div>

</body>
</html>