<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
    <a href="/studentList"><img id="logo" src="../img/kea.png"></a>
    <div id="centerElement">
        <h1  id="centerText">Administration Menu</h1>
        <a href="/studentList"><button class="btn btn-student">Students</button></a>
        <a href="/courses"><button class="btn btn-course">Courses</button></a>
    </div>

</body>
</html>