<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>Hovedmenu</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<header >
    <div class="tile--css_animations__demo4">
        <img  src="../img/KEA_Logo.png">
    </div>

    <h1  id="centerText">Velkommen til administrations hovedmenuen</h1>
</header>

<article>

    <a href="/studentList" class="centerElement"><img class="centerElement" src="../img/kea.png"></a>


    <div class="wrapper">
        <div class="gallery">
            <ul>
                <li><img src=https://kea.dk/slir/w2048-c100x72/images/DA/Uddannelser/Digital-Konceptudvikling/digital-konceptudvikling-2200x1400.jpg></li>
                <li><img src=https://kea.dk/slir/w2048-c100x72/images/DA/Uddannelser/El-installatoer/El-installatoer_Signe_hoej.jpg></li>
                <li><img src=https://kea.dk/slir/w2048-c100x72/images/DA/Uddannelser/IT-sikkerhed/it-sikkerhed-2200x1400-temp.jpg></li>

            </ul>
        </div>


    </div>

</article>


<footer>
    <a href="/test">
        <p>Guldbergsgade 29N
        2200 København N

        kea@kea.dk
        +45 46 46 00 00

        CVR: 316 562 06
        EAN: 5798 000 560 291</p>
    </a>
</footer>
</body>
</html>