<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Administration</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/studentList.css">
</head>
<body>
    <!-- TODO: MENU -->
    <div id="header">
        <table id="head_cont">
            <tr>
                <td><a href="/"><img src="img/keaWhite.png"></a></td>
                <td><a class="links" href="/studentList">Students</a></td>
                <td><a class="links" href="/">Courses</a></td>
            </tr>
        </table>
    </div>
    <!-- TODO: Table of students -->
    <div class="container">
        <h1>Student administration</h1>

        <table id="studentList">
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Enrollment</th>
                <th>Edit</th>
            </tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.enrollmentDate}"></td>
                <td><a th:href="@{/student(id=${student.id})}"><button>Details</button></a></td>
                <td><a th:href="@{/delete(id=${student.id})}"><button>Delete</button></a></td>
                <td><a th:href="@{/edit(id=${student.id})}"><button>Edit</button></a></td>

            </tr>
        </table>
        <a href="/student/create"><Button class="btn btn-create">New Student</Button></a>
    </div>
</body>
</html>